#box1{
   background-image: url("car.jpg.jpg");
  background-size: cover;
 
}
  

#box2{
    background-color: green;
}


#box3{
    background-color: blueviolet;
}


#box4{
    background-color: pink;
  
}

div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

