div{
    height: 100px;
   width: 100px;
   background-color: chartreuse;
   border: 2px solid black;
   display: inline-block;
}

#box1{
    position: static;
    top: 50px;
    /* for static top bottom left right will not work */
}

#box2{
    position: relative;
    /* element relative to itself */
    top: 20px;
    left:10px ;

}

#box3{
    position: absolute;
    /* positioned relative to its colsest posistion who will non-static */
   /* box3 ansestor will be body tag  */
    top:500px;
    left:20px;
    /* it will be 20 px from top of the screen  */
}


#box4{
    position: fixed;
    /* right:10px ; */
    top:0px;
   
 
    /* documneyt right */
}

#box5{
    position: sticky;
    top:0px;
    left: 20px;

}
