ul{
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black ;
   
}

 li{
    list-style-type: none;  
    /* to remove list point from the front */
    background-color: aqua;
} 