div{
    height: 100px;
    width: 100px;
    background-color: aqua;
     display: inline-block;
}

@media(width : 600px) {
#one{
    background-color: red;
}
}

@media(min-width:600px){
    #two{
        background-color: yellow;
    }
}

