*{
    padding: 0;
    margin: 0;
    color: rgb(110, 66, 0);
 }

 #nav{
    height: 60px;
    background-color: black;
 }
 
 /* div
 {
    height: 60px;
    background-color: black;
 } */
 
 button{
    background-color: #f08804;
 }
 
 #logo{ 
    color: #f08804; 
    font-size:25px ;
 }
 
 a{
    margin-right: 200px;
    text-decoration: none;
 }

#content{

  height: 720px;

}

.contentBox{
    height: 100px;
    width: 100px;
   border: 2px solid black;
   display: inline-block;
  
}

footer{
    align-items: flex-end;
}
