div{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    
    border: 1px solid black;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5) ;
    transition-delay: 2s;
}

div:hover{
background-color: red;
color: blue ;
font-size: 10px;
}

div:active{
    background-color: blue;
}